body{
  margin-top: 100px;
}

.breadcrumb{
  border-top: 1px solid lightgray;
}

footer {
  margin-top: 200px;
  -webkit-box-shadow: -2px -13px 136px -18px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -2px -13px 136px -18px rgba(0, 0, 0, 0.43);
  box-shadow: -2px -13px 136px -18px rgba(0, 0, 0, 0.43);
}

footer .col-md-6 {
  background-color: #fff;
}